.block:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
.block2:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
 .font {
    font: 25pt FANTASY;  
   } 
 .font1{
    font: 13pt TEMPUS SANS ITC;  
   } 
   